<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>web.Registration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>web.Authentification</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Restaurants</servlet-name>
        <servlet-class>web.Restaurants</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Restaurants</servlet-name>
        <url-pattern>/Restaurants</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
            <welcome-file>
                start.html
            </welcome-file>
    </welcome-file-list>
</web-app>